In [3]:
import pandas as pd
df = pd.read_csv("/Users/wangyiming2022/Desktop/data.csv")
df

    Unnamed: 0  Duration          Date  Pulse  Maxpulse  Calories
0            0        60  '2020/12/01'    110       130     409.1
1            1        60  '2020/12/02'    117       145     479.0
2            2        60  '2020/12/03'    103       135     340.0
3            3        45  '2020/12/04'    109       175     282.4
4            4        45  '2020/12/05'    117       148     406.0
5            5        60  '2020/12/06'    102       127     300.0
6            6        60  '2020/12/07'    110       136     374.0
7            7       450  '2020/12/08'    104       134     253.3
8            8        30  '2020/12/09'    109       133     195.1
9            9        60  '2020/12/10'     98       124     269.0
10          10        60  '2020/12/11'    103       147     329.3
11          11        60  '2020/12/12'    100       120     250.7
12          12        60  '2020/12/12'    100       120     250.7
13          13        60  '2020/12/13'    106       128     345.3
14          14        60  '2020/12/14'    104       132     379.3
15          15        60  '2020/12/15'     98       123     275.0
16          16        60  '2020/12/16'     98       120     215.2
17          17        60  '2020/12/17'    100       120     300.0
18          18        45  '2020/12/18'     90       112       NaN
19          19        60  '2020/12/19'    103       123     323.0
20          20        45  '2020/12/20'     97       125     243.0
21          21        60  '2020/12/21'    108       131     364.2
22          22        45           NaN    100       119     282.0
23          23        60  '2020/12/23'    130       101     300.0
24          24        45  '2020/12/24'    105       132     246.0
25          25        60  '2020/12/25'    102       126     334.5
26          26        60      12/26/20    100       120     250.0
27          27        60  '2020/12/27'     92       118     241.0
28          28        60  '2020/12/28'    103       132       NaN
29          29        60  '2020/12/29'    100       132     280.0
30          30        60  '2020/12/30'    102       129     380.3
31          31        60  '2020/12/31'     92       115     243.0

-------------

In [ ]:
################################## Cleaning empty cells ##################################

In [ ]:
################################## Solution 1: Remove empty cells ##################################

In [4]:
new_df = df.dropna()
# pandas.DataFrame.to_string ## Render a DataFrame to a console-friendly tabular output.
print(new_df.to_string())

    Unnamed: 0  Duration          Date  Pulse  Maxpulse  Calories
0            0        60  '2020/12/01'    110       130     409.1
1            1        60  '2020/12/02'    117       145     479.0
2            2        60  '2020/12/03'    103       135     340.0
3            3        45  '2020/12/04'    109       175     282.4
4            4        45  '2020/12/05'    117       148     406.0
5            5        60  '2020/12/06'    102       127     300.0
6            6        60  '2020/12/07'    110       136     374.0
7            7       450  '2020/12/08'    104       134     253.3
8            8        30  '2020/12/09'    109       133     195.1
9            9        60  '2020/12/10'     98       124     269.0
10          10        60  '2020/12/11'    103       147     329.3
11          11        60  '2020/12/12'    100       120     250.7
12          12        60  '2020/12/12'    100       120     250.7
13          13        60  '2020/12/13'    106       128     345.3
14          14        60  '2020/12/14'    104       132     379.3
15          15        60  '2020/12/15'     98       123     275.0
16          16        60  '2020/12/16'     98       120     215.2
17          17        60  '2020/12/17'    100       120     300.0
19          19        60  '2020/12/19'    103       123     323.0
20          20        45  '2020/12/20'     97       125     243.0
21          21        60  '2020/12/21'    108       131     364.2
23          23        60  '2020/12/23'    130       101     300.0
24          24        45  '2020/12/24'    105       132     246.0
25          25        60  '2020/12/25'    102       126     334.5
26          26        60      12/26/20    100       120     250.0
27          27        60  '2020/12/27'     92       118     241.0
29          29        60  '2020/12/29'    100       132     280.0
30          30        60  '2020/12/30'    102       129     380.3
31          31        60  '2020/12/31'     92       115     243.0

In [ ]:
# Note: By default, the dropna() method returns a new DataFrame, and will not change the original.
# If you want to change the original DataFrame, use the inplace = True argument:
# import pandas as pd
# df = pd.read_csv('data.csv')
# df.dropna(inplace = True)
# print(df.to_string())

In [ ]:
################################## Solution 2: Replace empty cells ##################################

In [7]:
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace = True)
df

    Unnamed: 0  Duration          Date  Pulse  Maxpulse  Calories
0            0        60  '2020/12/01'    110       130    409.10
1            1        60  '2020/12/02'    117       145    479.00
2            2        60  '2020/12/03'    103       135    340.00
3            3        45  '2020/12/04'    109       175    282.40
4            4        45  '2020/12/05'    117       148    406.00
5            5        60  '2020/12/06'    102       127    300.00
6            6        60  '2020/12/07'    110       136    374.00
7            7       450  '2020/12/08'    104       134    253.30
8            8        30  '2020/12/09'    109       133    195.10
9            9        60  '2020/12/10'     98       124    269.00
10          10        60  '2020/12/11'    103       147    329.30
11          11        60  '2020/12/12'    100       120    250.70
12          12        60  '2020/12/12'    100       120    250.70
13          13        60  '2020/12/13'    106       128    345.30
14          14        60  '2020/12/14'    104       132    379.30
15          15        60  '2020/12/15'     98       123    275.00
16          16        60  '2020/12/16'     98       120    215.20
17          17        60  '2020/12/17'    100       120    300.00
18          18        45  '2020/12/18'     90       112    304.68
19          19        60  '2020/12/19'    103       123    323.00
20          20        45  '2020/12/20'     97       125    243.00
21          21        60  '2020/12/21'    108       131    364.20
22          22        45           NaN    100       119    282.00
23          23        60  '2020/12/23'    130       101    300.00
24          24        45  '2020/12/24'    105       132    246.00
25          25        60  '2020/12/25'    102       126    334.50
26          26        60      12/26/20    100       120    250.00
27          27        60  '2020/12/27'     92       118    241.00
28          28        60  '2020/12/28'    103       132    304.68
29          29        60  '2020/12/29'    100       132    280.00
30          30        60  '2020/12/30'    102       129    380.30
31          31        60  '2020/12/31'     92       115    243.00

_______________________

In [ ]:
################################## Cleaning wrong format ##################################

In [10]:
# change column name
df = df.rename(columns={' Date': 'Date'})

In [11]:
df['Date'] = pd.to_datetime(df['Date'])
print(df.to_string())

    Unnamed: 0  Duration       Date  Pulse  Maxpulse  Calories
0            0        60 2020-12-01    110       130    409.10
1            1        60 2020-12-02    117       145    479.00
2            2        60 2020-12-03    103       135    340.00
3            3        45 2020-12-04    109       175    282.40
4            4        45 2020-12-05    117       148    406.00
5            5        60 2020-12-06    102       127    300.00
6            6        60 2020-12-07    110       136    374.00
7            7       450 2020-12-08    104       134    253.30
8            8        30 2020-12-09    109       133    195.10
9            9        60 2020-12-10     98       124    269.00
10          10        60 2020-12-11    103       147    329.30
11          11        60 2020-12-12    100       120    250.70
12          12        60 2020-12-12    100       120    250.70
13          13        60 2020-12-13    106       128    345.30
14          14        60 2020-12-14    104       132    379.30
15          15        60 2020-12-15     98       123    275.00
16          16        60 2020-12-16     98       120    215.20
17          17        60 2020-12-17    100       120    300.00
18          18        45 2020-12-18     90       112    304.68
19          19        60 2020-12-19    103       123    323.00
20          20        45 2020-12-20     97       125    243.00
21          21        60 2020-12-21    108       131    364.20
22          22        45        NaT    100       119    282.00
23          23        60 2020-12-23    130       101    300.00
24          24        45 2020-12-24    105       132    246.00
25          25        60 2020-12-25    102       126    334.50
26          26        60 2020-12-26    100       120    250.00
27          27        60 2020-12-27     92       118    241.00
28          28        60 2020-12-28    103       132    304.68
29          29        60 2020-12-29    100       132    280.00
30          30        60 2020-12-30    102       129    380.30
31          31        60 2020-12-31     92       115    243.00

In [15]:
# drop NaT Not a Time
df.dropna(inplace=True)
print(df.to_string())

    Unnamed: 0  Duration       Date  Pulse  Maxpulse  Calories
0            0        60 2020-12-01    110       130    409.10
1            1        60 2020-12-02    117       145    479.00
2            2        60 2020-12-03    103       135    340.00
3            3        45 2020-12-04    109       175    282.40
4            4        45 2020-12-05    117       148    406.00
5            5        60 2020-12-06    102       127    300.00
6            6        60 2020-12-07    110       136    374.00
7            7       450 2020-12-08    104       134    253.30
8            8        30 2020-12-09    109       133    195.10
9            9        60 2020-12-10     98       124    269.00
10          10        60 2020-12-11    103       147    329.30
11          11        60 2020-12-12    100       120    250.70
12          12        60 2020-12-12    100       120    250.70
13          13        60 2020-12-13    106       128    345.30
14          14        60 2020-12-14    104       132    379.30
15          15        60 2020-12-15     98       123    275.00
16          16        60 2020-12-16     98       120    215.20
17          17        60 2020-12-17    100       120    300.00
18          18        45 2020-12-18     90       112    304.68
19          19        60 2020-12-19    103       123    323.00
20          20        45 2020-12-20     97       125    243.00
21          21        60 2020-12-21    108       131    364.20
23          23        60 2020-12-23    130       101    300.00
24          24        45 2020-12-24    105       132    246.00
25          25        60 2020-12-25    102       126    334.50
26          26        60 2020-12-26    100       120    250.00
27          27        60 2020-12-27     92       118    241.00
28          28        60 2020-12-28    103       132    304.68
29          29        60 2020-12-29    100       132    280.00
30          30        60 2020-12-30    102       129    380.30
31          31        60 2020-12-31     92       115    243.00

In [16]:
# drop non-useful column
## axis=1 indicate that we want to drop a column rather than a row. 
df = df.drop('Unnamed: 0', axis=1)
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00

------------------------

In [ ]:
################################## Cleaning wrong data ##################################

In [18]:
# replacing values
## sets up a loop that will iterate over all the row indices in the DataFrame.
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        120 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00

In [ ]:
# droping wrong data
## for x in df.index:
##   if df.loc[x, "Duration"] > 120:
##     df.drop(x, inplace = True)

------

In [ ]:
################################## Removing duplicates ##################################

In [19]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [20]:
df.drop_duplicates(inplace = True)

In [21]:
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        120 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00